@import "../core/Reset.scss";
@import '../core/Variables.scss';



.footer{
    width: 100%;
    bottom: 0;
    padding: 22px;
    background-color: $footerBackground;
    @media (min-width:768px){
        position: absolute;
    }
    &__small{
        color:$mainTextColor;
        font-family: $barlow;
    }
}