@import "../core/Reset.scss";
@import '../core/Variables.scss';



.footer {
    width: 100%;
    padding: 22px;
    background-color: $footerBackground;
    @media (min-width:1024px){
        position: absolute;
        bottom: 0;
    }

    &__small {
        color: $mainTextColor;
        font-family: $barlow;
    }
}