@import "../core/Reset.scss";
@import '../core/Variables.scss';



.footer {
    width: 100%;
    padding: 22px;
    background-color: $footerBackground;
    @media (min-width: 768px){
        bottom: 0;
        position: absolute;
    }


    &__small {
        color: $mainTextColor;
        font-family: $barlow;
    }
}