@import '../core/reset';
@import '../core/Variables.scss';


.main {
    background-color: $white;
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    min-height: 75vh;



    @media (min-width:768px) {
        grid-template-columns: 1fr 1fr;


    }
}