@import '../core/Variables.scss';

.solutionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

    @media (min-width: 768px) {
        margin-bottom: 0;
    }

    &__title {
        @include hints;
    }

    &__hint {
        @include hints;
        font-weight: bolder;

        &--img {
            width: 30px;
            height: 30px;
            padding-left: 6px;
            padding-top: 10px;
        }

    }

}


.table {
    width: 253px;
    font-family: $poppins;

    @media (min-width:768px) {
        width: 350px;
    }

    @media (min-width:1024px) {
        width: 500px;

    }

    &__th {
        border: 2px solid $companyColor;
        color: $mainTextColor;
    }

    &__td {
        text-align: center;
        border: 2px solid $companyColor;
        color: $mainTextColor;
        font-weight: bolder;
    }
}