@import '../core/Variables.scss';

.solutionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (min-width:768px){

    }
        &__hint{
        font-family: $poppins;
        color: $mainTextColor;
        padding: 13px;
    }
}


.table {
    padding-bottom: 30px;
    width: 253px;
    font-family: $poppins;

    @media (min-width:768px) {
        width: 350px;
    }

    @media (min-width:1024px) {
        width: 500px;

    }

    &__th {
        border: 2px solid $companyColor;
        color: $mainTextColor;
    }

    &__td {
        text-align: center;
        border: 2px solid $companyColor;
        color: $mainTextColor;
        font-weight: bolder;
    }
}