//Colors

$companyColor: #6532ff;
$white: #fff;
$mainTextColor: #282828;
$footerBackground: #F0F8FF;
$boxShadow: rgba(166, 166, 166, 0.68);
$black: #0000;
$warning: red;

//Fonts
$poppins: 'Poppins',
sans-serif;
$barlow : 'Barlow',
sans-serif;

//mixins
@mixin hints {
    font-family: $poppins;
    color: $mainTextColor;
    padding: 13px;
}